#header {
		background-color:black;
		color:white;
		text-align:center;
		padding:5px;
	}
	#page_nav {
		line-height: 22px;
		background-color:#eeeeee;
		height:25px;
		text-align:center;
		float:top;
		padding: 7px;
		top: 50%;
	}
	#sub_nav {
		float:left;
		line-height:20px;
		background-color:#eeeeee;
		height:500px;
		width:75px;
		padding:10px;
	}
	#content {
		width:750px;
		float:left;
		padding-top:20px;
		padding-left:20px;
	}
	#footer {
		background-color:black;
		color:white;
		clear:both;
		text-align:center;
		padding:5px;
	}
	
	
	span{
		height: 22px;
    	width: 120px;
    	border-color: #000000;
    	background-color: #FFD700;
    	border-style: solid;
    	border-radius: 5px;	
    	font-family: helvetica;
    	text-align: center;
    	display: inline-block;
    	transition: background-color 0.5s ease;

	}
	
	#setup{
		margin-left: 5px;
		margin-right: 125px;
	}
	a{
	
		text-decoration: none;
		color: #000000;
	}
	#about{
		margin-left: 125px;
		margin-right: 5px;
	}
	
	#normalbutton{
		
		margin-left: 5px;
		margin-right: 5px;
	}
	
	.active{
		
		background-color: #708090;
	}
	
	#logo{
	
		
	}
	