	#header {
		background-color:black;
		color:white;
		text-align:center;
		padding:5px;
			max-width: 200%;
			max-height: auto;
	}
	#page_nav {
		line-height: 22px;
		background-color:#eeeeee;
		height:25px;
		text-align:center;
		float:top;
		padding: 7px;
		top: 50%;
			max-width: 200%;
			max-height: auto;
	}
	#sub_nav {
		float:left;
		line-height:20px;
		background-color:#eeeeee;
		height:500px;
		width:75px;
		padding:10px;
	}
	.content {
		width:750px;
		float:left;
		padding-top:20px;
		padding-left:20px;
	}
	#footer {
		background-color:black;
		color:white;
		clear:both;
		text-align:center;
		padding:5px;
	}
	
	.button{
    	border-color: #000000;
    	background-color: #FFD700;
    	border-style: solid;
    	border-radius: 5px;	
    	font-family: helvetica;
    	text-align: center;
    	transition: background-color 0.5s ease;

	}

	.floatLeft {
		float:	left;
	}

	.floatRight {
		float: right;
	}

	a{
		text-decoration: none;
		color: #000000;
	}
	
	#navbarbutton {
		height: 22px;
    	width: 120px;
    	display: inline-block;
		margin-left: 5px;
		margin-right: 5px;
	}
	
	
	.hidden{
		visibility: hidden;
	}
	@media (max-width: 800px){
		#navbarbutton{
			display: none;
		}
		
		.hidden{
			font-weight: bold;
			visibility: visible;
		}
		.content{
		
			width: 50%;
		}
		
		
	}
	
	.logo_mobile{
	
		display: none;
		visibility: hidden;
	
	}
	


/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) and (max-width : 600px) {
/* Styles */

		.content{
		
			width: 50%;
		}
}
/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
#navbarbutton{
			display: none;
		}
		
		.hidden{
			font-weight: bold;
			visibility: visible;
		}
		.content{
		
			width: 50%;
		}
}
		img{
		
			max-width: 100%;
			max-height: auto;
		}
	.active {
		background-color: #708090;
	}
	
	#sidebarbutton {
    	display: inline-block;
		font-size: 75%;
		height: 40px;
    	width: 75px;	
    	text-align: center;
    	margin-bottom: 10px;
	}

	